.createTeamsNotesBtn {
  background-color: #161616 !important;
  float: right;
  border: 1px solid #777 !important;
  margin: 10px 45px 10px 10px !important;
  width: fit-content;
}
@media only screen and (max-width: 900px) {
  .createTeamsNotesBtn {
    margin: 70px 45px 10px 10px !important;
  }
}
