.teamLeftSide {
  padding: 20px;
}
.teamLeftSideImg {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5f61d1;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-radius: 2px;
}
.teamLeftSideName {
  font-size: 1.2rem;
  font-weight: 600;
}
