.headBar {
  display: flex;
  position: fixed;
  background-color: rgb(10, 10, 10);
  height: 50px;
  width: 100%;
  color: #fff;
  /* margin-bottom: 50px; */
  top: 0;
}
.headBarBox {
  width: 65px;
  text-align: center;
  padding: 10px 0;
}
.headBarBox:hover {
  background-color: #7f81e1;
}
.dots {
  line-height: 7px;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}
.headSubBarBox {
  display: flex;
  width: calc(100% - 65px);
  /* width: 100%; */
  align-items: center;
}
.headBarTeamsHeading {
  flex: 3;
}
.headBarMSTeams {
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}
.headBarSearch {
  flex: 9;
  display: flex;
  justify-content: space-between;
}
.headerBarSearchInput {
  width: 65%;
  /* height: 25px; */
  background-color: #1f1f1f;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  z-index: 1000;
}
.headerBarProfile {
  padding-right: 50px;
}
.headerBarProfileImg {
  height: 40px;
  width: 40px;
  background-color: #7f81e1 !important;
  border-color: #7f81e1 !important;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.headerBarProfileImg:focus {
  box-shadow: none !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdownBody {
  top: 2px !important;
  background-color: #282828 !important;
  color: #fff !important;
  box-shadow: 0px 0px 8px 3px #111111;
  /* right: -10px !important; */
  left: 100% !important;
  min-width: 350px !important;
  padding: 0 0 !important;
}
.profileOfUser {
  display: flex;
  align-items: center;
  padding: 15px 20px 15px;
  border-bottom: 2px solid #131313;
}
.profileOfUserImg {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #7f81e1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.profileOfUserImgDetails {
  padding: 0 10px;
}
.profileOfUserImgDetailsName {
  font-size: 17px;
  font-weight: 700;
}
.profileOfUserImgDetailsEmail {
  font-size: 13px;
  color: #aaa;
  font-weight: 400;
}
.signout {
  padding: 15px 20px;
  font-weight: 500;
  color: #ddd;
  cursor: pointer;
}

@media only screen and (max-width: 862px) {
  .headBarSearch {
    /* flex: 12;
    justify-content: space-between; */
    width: 95%;
  }
  .headerBarSearchInput {
    width: 90%;
    /* margin-left: 20px; */
    text-align: left;
  }
  .headSubBarBox {
    width: 95%;
    margin: 0 20px;
    justify-content: space-between;
  }
  .headerBarProfile {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 500px) {
  .headerBarSearchInput {
    width: 80%;
  }
}
